.App {
  text-align: center;
}
.body {
  font-size: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#main-div {
  outline: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.typing-div {
  font-size: 2em;
  color: black;
  outline: none;
  display: inline-block;
}
.item-typing {
  display: flex;
  /* width: 100vw; */
  text-align: center;
  align-items: flex-start;
  /* flex: 1; */
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.btn-reset {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  
}
