.App {
  text-align: center;
}
.body {
  font-size: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#main-div {
  outline: none;
}
.typing-div {
  font-size: 2em;
  color: black;
  outline: none;
  display: inline-block;
}
.item-typing {
  display: inline-block;
  width: 100vw;
  text-align: center;
}
